<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.navigation.wfio_dlyw.navigation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.Dark"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".LogIn"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ElderNavigation"
            android:label="@string/app_name" />
        <activity
            android:name=".ElderSettings"
            android:label="@string/settings" />
        <activity
            android:name=".ElderHome"
            android:label="@string/home" />
        <activity
            android:name=".ChooseAccountType"
            android:label="@string/ChooseAccountType" />
        <activity
            android:name=".SignUp"
            android:label="@string/SignUp" />
        <activity
            android:name=".CarerHome"
            android:label="@string/home" />
        <activity
            android:name=".CarerConnect"
            android:label="@string/CarerConnect" />
        <activity
            android:name=".CarerSettings"
            android:label="@string/settings" />
        <activity
            android:name="com.navigation.wfio_dlyw.viewmap.MapActivity"
            android:label="Map Activity" />
        <activity
            android:name="com.navigation.wfio_dlyw.viewmap.MapSwitch"
            android:label="Map Switch" />
        <receiver android:name=".NotificationReceiver" />

        <activity android:name=".AnswerHelp" />
        <activity android:name=".EnterCurrentPassword" />
        <activity android:name=".NewPassword" />
        <activity android:name=".ElderConnect"></activity>
    </application>

</manifest>